snippet cl "Class Definition"
class ${1:ClassName} {
    constructor(${2:parameters}) {
        ${0}
    }
}
endsnippet

snippet fn "Function"
function ${1:functionName}(${2:parameters}) {
    ${0}
}
endsnippet

