snippet shebang "Shebang for Bash Script"
#!/bin/bash
# Short description of what the script does
${0}
endsnippet

snippet fn "Function Definition"
function ${1:functionName} {
    ${0}
}
endsnippet

